.border-botton{
    background-color: #D8EEFE;
    font-weight: bold;
}

.border-list-mahasiswa{
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.list-student__title {
    --background: none;
    --border-style: none;
}

.list-student__title::part(native) {
    padding: 0px;
}

.col-tidak-lulus {
    font-weight: bold;
    color: #DA1E28;
}

.col-lulus {
    font-weight: bold;
    color: #49A52F;
}
