.input-data {
    width: 100%; /* Mengatur lebar input ke 100% */
    padding: 0; /* Menghapus padding di kiri dan kanan input */
    margin: 0;
}

.button-account-save{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    justify-content: flex-end;
  }

.BTN-Save-Profile{
    flex-grow: 0;
    width: 200px;
    
}
