.row {
  gap: 20px;
}

.row-title {
  gap: 20px;
  width: 100%;
  display: flex;
}

.input-title {
  margin: 0;
}

.justify-content-end {
  justify-content: end;
  width: 100%;
  margin-top: 20px;
}

.card-1-column {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  height: 100%;
  margin: 0px;
}

.input {
  margin: 0px;
  padding: 0px;
}
