.cell__table-input {
    width: 75px;
}

.cell__table-input .sc-ion-input-md {
    padding: 0px;
}

.input-grade__title {
    --background: none;
    --border-style: none;
}

.input-grade__title::part(native) {
    padding: 0px;
}

.save-modal .ion-page {
    padding-bottom: 0px;
}

.save-modal-text h1{
    margin: 0px;
    font-size: 27px;
    font-weight: bold;
}

.save-modal::part(content){
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}

.save-modal-content {
    display: flex;
    text-align: justify;
}

.save-modal-button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.save-modal-button ion-button {
    width: 50%;
}


@media only screen and (max-width: 576px) {
    .save-modal::part(content){
        width: 250px;
        height: 220px;
    }

    .save-modal-text h1{
        font-size: 20px;
    }
    
}

